.container {
  margin-top: 3rem;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(187, 186, 186, 0.521);
  backdrop-filter: blur(30px);
  animation: home 1s ease-out forwards;
}
@keyframes home {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
