.inputContainerUC {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 80vw;
    
  }
  .labelC, 
  .labelCs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .labelC label,
  .parg {
    font-weight:600;
    color: whitesmoke;
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    outline: none;
    margin-right: 1rem;

  }
  .parg{
    font-size: small;
    font-weight:400;
    color: #F5E8C7;
    text-align: center;
  }
  .parg span{
    color: #FFD28F;
  }
  .anim{
    animation: come 1.5s ease-out forwards;
  }
  @keyframes come {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 

  