.dateContainer{
    width: 100%;
    height: 10rem;
    border: 3px solid rgb(99, 3, 3);
    padding: 0.6rem;
  background-color: #474b4d;
    border-radius: 10px;
}
.date{
    display: flex;
    flex-direction: column;
}
.date label{
    font-weight:600;
    color: #f5e8c7;
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
}
.date input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    background-color: #474b4d;
    border: 3px solid rgb(99, 3, 3);
    border-radius:5px;
    color: #f3f3f3;
    outline: none;
}
.date input:hover{
    background-color: #6c7a81;
    cursor: pointer;
}
